SECRET_KEY=changeme
DEBUG=0
DJANGO_ALLOWED_HOSTS=your.domain.com
CSRF_TRUSTED_ORIGINS=https://your.domain.com

POSTGRES_DB=pyobs
POSTGRES_USER=pyobs
POSTGRES_PASSWORD=secret

CELERY_BROKER_URL=amqp://rabbitmq//
CELERY_RESULT_BACKEND=rpc://
